@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome-webfont.woff);
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url(../fonts/brandon_reg.woff);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensansregular.woff);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/LatoRegular.woff);
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  font-size: 0;
}
header img {
  display: inline-block;
  margin-top: 22px;
}
.menu {
  float: right;
  margin-top: 42px;
}
.menu::after {
  content: "";
  display: block;
  clear: both;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 12px 21px;
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #868686;
}
.menu ul li a:hover {
  border-radius: 2px;
  background-color: #ffbb42;
  color: #ffffff;
}
.jumbotron {
  min-width: 1700px;
  margin-top: 29px;
  background-color: #709dca;
  min-height: 589px;
  text-align: center;
  color: #ffffff;
  line-height: 24px;
}
.jumbotron h1 {
  padding-top: 110px;
  font-family: Gotham;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.jumbotron p {
  padding-top: 15px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
}
.input-block {
  margin-top: 33px;
}
.input-block div {
  padding-left: 41px;
  float: left;
  position: relative;
}
.input-block div input {
  box-sizing: border-box;
  min-width: 281px;
  padding-left: 40px;
  border: none;
  border-radius: 2px 1px 1px 2px;
  min-height: 46px;
}
.input-block div::before {
  content: "\f007";
  display: inline-block;
  position: absolute;
  left: 56px;
  top: 11px;
  height: 15px;
  font-family: "FontAwesome";
  color: #6f6f6f;
}
.input-block .input-mail {
  padding-left: 10px;
}
.input-block .input-mail::before {
  content: "\f0e0";
  display: inline-block;
  left: 25px;
}
.input-block .input-phone {
  padding-left: 10px;
  padding-right: 10px;
}
.input-block .input-phone::before {
  content: "\f095";
  display: inline-block;
  left: 25px;
}
.input-block .button {
  float: left;
}
.input-block::after {
  content: "";
  display: block;
  clear: both;
}
.button {
  line-height: 46px;
  height: 46px;
  display: inline-block;
  border-radius: 2px;
  background-color: #ffbb42;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 44px 0 44px;
}
.carousel {
  margin-top: -281px;
  position: relative;
  background: url("../img/macbook.png") center 0 no-repeat;
  min-height: 344px;
}
.carousel .slide {
  position: absolute;
  top: 19px;
  left: 364px;
}
.carousel div {
  padding-top: 366px;
  text-align: center;
  font-size: 0;
}
.carousel div a {
  margin: 0 7px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #dedfe0;
}
.carousel div a:first-child {
  border: 2px solid #1ca8dd;
}
.services {
  text-align: center;
  margin-top: 103px;
}
.services h2 {
  color: #394b50;
  line-height: 22px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.services p {
  color: #394b50;
  line-height: 22px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.services::after {
  content: "";
  display: block;
  clear: both;
}
.our-service {
  margin-top: 93px;
}
.our-service div {
  width: 50%;
  float: left;
  text-align: left;
  margin-bottom: 79px;
}
.our-service div h3 {
  vertical-align: top;
  display: inline-block;
  color: #394b50;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.our-service div p {
  margin-top: -13px;
  margin-left: 82px;
  max-width: 440px;
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.our-service div::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 38px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: #719ecb;
}
.our-service div:nth-child(2)::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}
.our-service div:nth-child(3)::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}
.our-service div:nth-child(4)::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}
.our-service div:nth-child(5)::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}
.our-service div:nth-child(6)::before {
  margin-left: 45px;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}
.our-service div:hover::before {
  color: #f77828;
}
.our-service div:nth-child(2n+2) {
  float: right;
}
.our-service div:nth-child(2n+2) p {
  margin-left: 112px;
}
.our-service div:nth-child(2n+2)::before {
  margin-left: 30px;
}
.about-us {
  min-width: 1700px;
  min-height: 623px;
  background-color: #ffc155;
}
.about-us .container-big {
  width: 1700px;
  margin: 0 auto;
}
.about-us .container-big img {
  float: left;
}
.about-us .container-big div {
  margin-left: 80px;
  width: 584px;
  float: left;
}
.about-us .container-big div h3 {
  margin-top: 164px;
  color: #ffffff;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  line-height: 22px;
  text-transform: uppercase;
}
.about-us .container-big div p {
  max-width: 505px;
  margin-top: 28px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.about-us .container-big div .button {
  margin-top: 33px;
  border: 1px solid #e7ad48;
}
.price {
  min-width: 1700px;
  min-height: 898px;
  text-align: center;
  padding-top: 137px;
  background-color: #e7edf3;
}
.price h2 {
  line-height: 22px;
  color: #394b50;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.price p {
  line-height: 22px;
  color: #75888d;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}
.price-block {
  margin-top: 79px;
}
.price-block div {
  min-height: 441px;
  border-radius: 3px;
  border: 1px solid #ccd5df;
  background-color: #ffffff;
  float: left;
  width: 32.9%;
}
.price-block div h3 {
  margin-top: 56px;
  color: #818b95;
  font-family: Lato;
  font-size: 25px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
}
.price-block div .per-month {
  margin-top: 15px;
  font-family: Lato;
  line-height: 60px;
  color: #ffbb42;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
.price-block div .per-month:first-letter {
  vertical-align: super;
  color: #ffbb42;
  font-size: 40px;
  font-weight: 700;
}
.price-block div p {
  color: #818b95;
  font-size: 20px;
  font-weight: 300;
  font-variant: small-caps;
}
.price-block div ul {
  margin-top: 20px;
}
.price-block div ul li {
  margin: 0 auto;
  width: 329px;
  border-top: 1px solid #e2e9f0;
  color: #b5bbc1;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}
.price-block div .button {
  margin: 21px 0 48px 0;
  padding: 0 21px 0 21px;
}
.price-block div:nth-child(2) {
  margin-top: -30px;
  width: 33.5%;
  background-color: #719ecb;
  min-height: 501px;
}
.price-block div:nth-child(2) h3 {
  margin-top: 86px;
  color: #ffffff;
}
.price-block div:nth-child(2) .per-month {
  color: #ffffff;
}
.price-block div:nth-child(2) .per-month:first-letter {
  color: #ffffff;
}
.price-block div:nth-child(2) p {
  color: #ffffff;
}
.price-block div:nth-child(2) li {
  color: #c2e1ff;
}
.price-block::after {
  content: "";
  display: block;
  clear: both;
}
.steps {
  min-height: 858px;
  padding-top: 155px;
  text-align: center;
}
.steps h2 {
  color: #394b50;
  line-height: 22px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.steps p {
  margin-top: 13px;
  color: #394b50;
  line-height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}
.steps .button {
  margin-top: 91px;
  padding: 0 28px;
}
.step-block div {
  position: relative;
  width: 25%;
  float: left;
}
.step-block div h3 {
  color: #394b50;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.step-block div h3::before {
  margin: 110px 0 100px 0;
  content: "";
  display: block;
  font-family: "FontAwesome";
  font-size: 72px;
  font-weight: 400;
  line-height: 22px;
  color: #719ecb;
}
.step-block div p {
  margin-top: 28px;
  margin-left: 39px;
  max-width: 213px;
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.step-block div:nth-child(2) h3::before {
  content: "";
  display: block;
}
.step-block div:nth-child(2) img {
  transform: rotate(180deg);
  top: 148px;
}
.step-block div:nth-child(3) h3::before {
  content: "";
  display: block;
}
.step-block div:nth-child(4) h3::before {
  content: "";
  display: block;
}
.step-block div img {
  position: absolute;
  top: 54px;
  left: 230px;
}
.clients {
  min-width: 1700px;
  box-sizing: border-box;
  min-height: 908px;
  text-align: center;
  padding-top: 141px;
  background-color: #ffc155;
}
.clients h2 {
  color: #ffffff;
  line-height: 22px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.clients p {
  margin-top: 13px;
  color: #ffffff;
  line-height: 22px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
.clients-block {
  margin-top: 58px;
}
.clients-block div {
  text-align: left;
  min-height: 241px;
  margin-bottom: 20px;
  float: left;
  width: 48.4%;
  background-color: #ffffff;
}
.clients-block div:nth-child(2n+2) {
  float: right;
}
.clients-block div img {
  margin: 43px 0 0 30px;
  float: left;
}
.clients-block div p {
  max-width: 344px;
  margin: 51px 0 0 182px;
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.clients-block div p:nth-child(3) {
  margin: 29px 0 0 182px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  color: #f6772c;
}
.clients-block div p:nth-child(3) span {
  color: #99a9ae;
}
.clients-block div p:nth-child(2)::before {
  vertical-align: -8px;
  content: "“";
  display: inline-block;
  color: #7b7b7b;
  font-family: "Brandon Grotesque";
  font-size: 30px;
  font-weight: 700;
  margin-left: -22px;
  margin-right: 7px;
}
.clients-block div p:nth-child(2)::after {
  vertical-align: -8px;
  content: "”";
  display: inline-block;
  color: #7b7b7b;
  font-family: "Brandon Grotesque";
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 20px;
}
.newsletter {
  border-bottom: 1px solid #e3e7ec;
  box-sizing: border-box;
  min-height: 945px;
  padding-top: 154px;
  text-align: center;
}
.newsletter h2 {
  color: #394b50;
  line-height: 22px;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.newsletter p {
  margin-top: 13px;
  color: #394b50;
  line-height: 22px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
}
.newsletter .input-block {
  margin-top: 38px;
}
.newsletter .input-block .input-name {
  box-sizing: border-box;
  margin-left: 77px;
}
.newsletter .input-block .input-name input {
  min-width: 308px;
}
.newsletter .input-block .input-mail {
  box-sizing: border-box;
}
.newsletter .input-block .input-mail input {
  min-width: 388px;
}
.newsletter .input-block input {
  border: 1px solid #cbcbcb;
}
.newsletter .input-block .button {
  margin-left: 10px;
  padding: 0 53px;
}
.map {
  position: relative;
  margin-top: 53px;
  min-height: 549px;
  background: url(../img/map-earth.png) center no-repeat;
  padding-top: 37px;
}
.map .circle-earth {
  background: url(../img/circle-earth.png) center no-repeat;
  min-height: 298px;
}
.map h3 {
  padding-top: 68px;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.map p {
  max-width: 138px;
  margin: 0 auto;
  margin-top: 23px;
  color: #aeb7ba;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.map a {
  margin-top: 17px;
  color: #ffbb42;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.map img {
  margin-top: 3px;
}
footer {
  text-align: center;
}
footer .menu {
  margin-top: 68px;
  float: none;
}
footer .menu ul li a {
  color: #394b50;
  font-family: Lato;
  font-size: 13px;
}
footer p {
  margin-top: 29px;
  margin-bottom: 25px;
  color: #394b50;
  font-family: Lato;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
}
footer p::before {
  content: "";
  display: inline-block;
  color: #394b50;
  font-family: "FontAwesome";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
footer a {
  padding-right: 16px;
  color: #709dca;
  font-family: "Font Awesome";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
footer a:hover {
  color: #ffc155;
}
.copyright {
  min-width: 1700px;
  margin-top: 53px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  min-height: 45px;
  background-color: #709dca;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
